@model MultiPolls.Models.Poll

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal jumbotron jumbot">
        <h4>Create your poll</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PollQuestion, new { @class = "control-label col-md-2" })
            <div class="left-pad col-md-10">
                @Html.EditorFor(model => model.PollQuestion)
                @Html.ValidationMessageFor(model => model.PollQuestion)
            </div>
        </div>
        <div id="editA" class="form-group">
            @Html.LabelFor(model => model.OptionA, new { @class = "control-label col-md-2" })
            <div class="left-pad col-md-10">
                @Html.EditorFor(model => model.OptionA)
                @Html.ValidationMessageFor(model => model.OptionA)
            </div>
        </div>
        <div  class="form-group">
            @Html.LabelFor(model => model.OptionB, new { @class = "control-label col-md-2" })
            <div id="option2" class="left-pad col-md-10">
                @Html.EditorFor(model => model.OptionB)
                @Html.ValidationMessageFor(model => model.OptionB)
            </div>
        </div>

        <div id="Option3" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionC, new { @class = "control-label col-md-2" })
                <div id="option3" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionC)
                    @Html.ValidationMessageFor(model => model.OptionC)
                </div>
            </div>
        </div>

        <div id="Option4" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionD, new { @class = "control-label col-md-2" })
                <div id="option4" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionD)
                    @Html.ValidationMessageFor(model => model.OptionD)
                </div>
            </div>
        </div>

        <div id="Option5" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionE, new { @class = "control-label col-md-2" })
                <div id="option5" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionE)
                    @Html.ValidationMessageFor(model => model.OptionE)
                </div>
            </div>
        </div>
        <div id="Option6" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionF, new { @class = "control-label col-md-2" })
                <div id="option6" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionF)
                    @Html.ValidationMessageFor(model => model.OptionF)
                </div>
            </div>
        </div>

        <div id="Option7" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionG, new { @class = "control-label col-md-2" })
                <div id="option7" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionG)
                    @Html.ValidationMessageFor(model => model.OptionG)
                </div>
            </div>
        </div>

        <div id="Option8" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionH, new { @class = "control-label col-md-2" })
                <div id="option8" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionH)
                    @Html.ValidationMessageFor(model => model.OptionH)
                </div>
            </div>
        </div>
        <div id="Option9" class="hide-this">
            <div id="option9" class="form-group">
                @Html.LabelFor(model => model.OptionI, new { @class = "control-label col-md-2" })
                <div class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionI)
                    @Html.ValidationMessageFor(model => model.OptionI)
                </div>
            </div>
        </div>

        <div id="Option10" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionJ, new { @class = "control-label col-md-2" })
                <div id="option10" class="left-pad col-md-10">
                    @Html.EditorFor(model => model.OptionJ)
                    @Html.ValidationMessageFor(model => model.OptionJ)
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="left-pad2 col-md-offset-2 col-md-4">
                    <div class="classWithPad">
                        <a href="/Polls/Index" class="push_button">
                            Create
                        </a>
                    </div>
                </div>
                <div class="left-pad3 col-md-offset-2 col-md-4">
                    <div class="classWithPad">
                        <a href="/Home/Index" class="push_button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
