@model MultiPolls.Models.Poll

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal jumbotron jumbot">
        <h4>Create your poll</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PollQuestion, new { @class = "control-label col-md-3" })
            <div class="left-pad col-md-9 box-width">
                @Html.TextBoxFor(model => model.PollQuestion, new { @class = "box-width" })
                @Html.ValidationMessageFor(model => model.PollQuestion)
            </div>
        </div>


        <div id="optionA" class="form-group">
            @Html.LabelFor(model => model.OptionA, new { @class = "control-label col-md-3" })
            <div class="left-pad col-md-9">
                @Html.TextBoxFor(model => model.OptionA, new { @class = "box-width" })
                @Html.ValidationMessageFor(model => model.OptionA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OptionB, new { @class = "control-label col-md-3" })
            <div id="option2" class="left-pad col-md-9">
                @Html.TextBoxFor(model => model.OptionB, new { @class = "box-width" })
                @Html.ValidationMessageFor(model => model.OptionB)
            </div>
        </div>

        <div id="Option3" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionC, new { @class = "control-label col-md-3" })
                <div id="option3" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionC, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionC)

                </div>
            </div>
        </div>

        <div id="Option4" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionD, new { @class = "control-label col-md-3" })
                <div id="option4" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionD, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionD)
                </div>
            </div>
        </div>

        <div id="Option5" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionE, new { @class = "control-label col-md-3" })
                <div id="option5" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionE, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionE)
                </div>
            </div>
        </div>
        <div id="Option6" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionF, new { @class = "control-label col-md-3" })
                <div id="option6" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionF, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionF)
                </div>
            </div>
        </div>

        <div id="Option7" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionG, new { @class = "control-label col-md-3" })
                <div id="option7" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionG, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionG)
                </div>
            </div>
        </div>

        <div id="Option8" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionH, new { @class = "control-label col-md-3" })
                <div id="option8" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionH, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionH)
                </div>
            </div>
        </div>
        <div id="Option9" class="hide-this">
            <div id="option9" class="form-group">
                @Html.LabelFor(model => model.OptionI, new { @class = "control-label col-md-3" })
                <div class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionI, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionI)
                </div>
            </div>
        </div>

        <div id="Option10" class="hide-this">
            <div class="form-group">
                @Html.LabelFor(model => model.OptionJ, new { @class = "control-label col-md-3" })
                <div id="option10" class="left-pad col-md-9">
                    @Html.TextBoxFor(model => model.OptionJ, new { @class = "box-width" })
                    @Html.ValidationMessageFor(model => model.OptionJ)
                </div>
            </div>
        </div>
  
            @*@Html.LabelFor(model => model.OptionJ, new { @class = "control-label col-md-3 hid" })*@
            <div id="add-option" class="left-pad6 col-md-9">
                Type to add another option
        </div>
        <ul class="classWithPad left-pad7">
            <li class="nav-display-inline">
                <input type="submit" value="Create" class="push_button" />
            </li>
            <li class="nav-display-inline classWithPad">

                <a href="/Polls/MyPolls" class="push_button">
                    Cancel
                </a>
            </li>
        </ul>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}