@model MultiPolls.Models.Poll

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poll</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PollQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionJ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
