@model MultiPolls.Models.Poll

@{
    ViewBag.Title = "Vote";
}


@using (Html.BeginForm("Vote", "Polls", @*new { ReturnUrl = ViewBag.ReturnUrl },*@ FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div>
    @Html.DisplayFor(model => model.PollQuestion)
    <ul class="ul-properties">@*  *@
        <li>
            @Html.RadioButtonFor(model => model.OptionA, "A", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionA) 
        <li>
            @Html.RadioButtonFor(model => model.OptionB, "B", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionB)

        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionC, "C", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionC) 
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionD, "D", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionD)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionE, "E", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionE)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionF, "F", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionF)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionG, "G", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionG)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionH, "H", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionH)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionI, "I", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionI)
        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionJ, "J", new { Name = "Option" }) @Html.DisplayFor(model => model.OptionJ)
        </li>
    </ul>
    <input type="submit" id="vote-submit" value="Vote">
</div>
}

