@model MultiPolls.Models.Poll

@{
    ViewBag.Title = "Vote";
}

<div>
    aa
</div>
<div>
    aa
</div>
<div>
    aa
</div>
<div>
    aa
</div>

<p>
    @Html.ActionLink("Vote", "Create")
</p>

<div>
    @Html.DisplayFor(model => model.PollQuestion)
    <ul class="ul-properties">@*  *@
        <li>
            @Html.RadioButtonFor(model => model.OptionA, 1, new { Name = "Option" }) @Html.DisplayFor(model => model.OptionA) 
        <li>
            @Html.RadioButtonFor(model => model.OptionB, 1, new { Name = "Option" }) @Html.DisplayFor(model => model.OptionB) @Html.DisplayFor(model => model.OptionB)

        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionC, 1, new { Name = "Option" }) @Html.DisplayFor(model => model.OptionC) @Html.DisplayFor(model => model.OptionC)

        </li>
        <li>
            @Html.RadioButtonFor(model => model.OptionD, 1, new { Name = "Option" }) @Html.DisplayFor(model => model.OptionD) @Html.DisplayFor(model => model.OptionD)

        </li>
    </ul>
</div>

<p>
    @Html.ActionLink("Vote", "Create")
</p>