@model MultiPolls.Models.LoginViewModel


@using (Html.BeginForm("_LoginPartial", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
            { @*@class = "form-horizontal",*@ role = "form"
            }))
{
    @Html.AntiForgeryToken()
    <a id="login-trigger" href="#">
        Log in <span>▼</span>
    </a>
    <div id="login-content">
        <form>
            <fieldset id="inputs">
                @Html.ValidationSummary()
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username", @class = "form-control" })
                @*<input id="password" type="password" name="Password" placeholder="Password" required>*@
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "col-md-2 control-label" })
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id="submit" value="Log in">
                <label> Forgotten password?</label>
            </fieldset>
        </form>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}