@model MultiPolls.Models.RegisterViewModel

@using (Html.BeginForm("_RegisterPartial", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
            { @*@class = "form-horizontal",*@ role = "form"
            }))
{
    @Html.AntiForgeryToken()
    <a id="signup-trigger" href="#">
        Sign up <span>▼</span>
    </a>
    <div id="signup-content">
        <form>
            <fieldset id="signup-inputs">
                @Html.ValidationSummary()
               @* @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Name", @class = "form-control" })*@
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username", @class = "form-control" })
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                @*<input id="new-username" type="email" name="Email" placeholder="Your email address" required>*@
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                @*<input id="new-password" type="password" name="Password" placeholder="Password" required>*@
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control" })
                @*<input id="confirm-password" type="password" name="Password" placeholder="Confirm Password" required>*@
            </fieldset>
            <fieldset id="s-actions">
                <input type="submit" id="s-submit" value="Sign Me Up">
            </fieldset>
        </form>
    </div>
}