@model MultiPolls.Models.RegisterViewModel
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", }))
    {
        @Html.AntiForgeryToken()

        @*<div class="row">
            <div class="col-sm-4">*@
        <div class="btn-group ">
            <ul class="nav-display-inline">
                <li class="nav-display-inline">
                    <a class="btn btn-success navbar-btn">
                        Hello @User.Identity.GetUserName()
                    </a>
                </li>
                <li class="nav-display-inline">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-success navbar-btn">
                        Log Off
                    </a>
                </li>
            </ul>
        </div>
    }
}
else
{
    <ul class="row ul-properties login-drop-box navbar-right">
        <li id="login" class="login-list">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
            { @*@class = "form-horizontal",*@ role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                <a id="login-trigger" href="#">
                    Log in <span>▼</span>
                </a>
                <div id="login-content">
                    <form>
                        <fieldset id="inputs">
                            @Html.ValidationSummary()
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email", @class = "form-control" })
                            @*<input id="password" type="password" name="Password" placeholder="Password" required>*@
                            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @class = "col-md-2 control-label" })
                        </fieldset>
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="Log in">
                            <label> Forgotten password?</label>
                        </fieldset>
                    </form>
                </div>
            }
        </li>
        <li id="signup" class="login-list">

            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
            { @*@class = "form-horizontal",*@ role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                <a id="signup-trigger" href="#">
                    Sign up <span>▼</span>
                </a>
                <div id="signup-content">
                    <form>
                        <fieldset id="signup-inputs">
                            @Html.ValidationSummary()
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email", @class = "form-control" })
                            @*<input id="new-username" type="email" name="Email" placeholder="Your email address" required>*@
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                            @*<input id="new-password" type="password" name="Password" placeholder="Password" required>*@
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control" })
                            @*<input id="confirm-password" type="password" name="Password" placeholder="Confirm Password" required>*@
                        </fieldset>
                        <fieldset id="s-actions">
                            <input type="submit" id="s-submit" value="Sign Me Up">
                        </fieldset>
                    </form>
                </div>
            }
        </li>
    </ul>

}
